<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.grocerystore_app">

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Store3"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:hardwareAccelerated="false"
        android:theme="@style/Theme.GroceryStore_App">
        <activity
            android:name=".Report"
            android:exported="false" />
        <activity
            android:name=".offers"
            android:exported="false" />
        <activity
            android:name=".Questions"
            android:exported="false" />
        <activity
            android:name=".Customercare"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCOfj1QgDEE1jIV4p4g80n07hf_BmOCGwE" />


        <activity
            android:name=".Maptrack"
            android:exported="false" />
        <activity
            android:name=".delivery"
            android:exported="false" />
        <activity
            android:name=".OTP_L"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true" />
        <activity
            android:name=".menu_p"
            android:exported="true" />
        <activity
            android:name=".Payment"
            android:exported="true" />
        <activity
            android:name=".Fruits"
            android:exported="true" />
        <activity
            android:name=".Vegetables"
            android:exported="true" />
        <activity
            android:name=".ActivityCrops"
            android:exported="true" />
        <activity
            android:name=".Billing"
            android:exported="true" />
        <activity
            android:name=".MenuActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>